#index-footer {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
}

#index-body {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.index-title {
    color: #087ACB;
}

.index-notice {
    color: #999999;
}